<h1>Login</h1>

<%= form_for(:session, url: login_path) do |f| %>

	<%= f.label :email %>
	<%= f.email_field :email, class: 'form-control' %>

	<%= f.label :pword %>
	<%= f.password_field :pword, class: 'form-control' %>

<%= f.submit "Log in", class: "btn btn-primary" %>
<% end %>

<br><br>

