<div class="user-info">
  <% if logged_in? %>
      <h1>Name: <%= @user.fname %> <%= @user.lname.chars.first %>.</h1>
      <h3>Email: <%= @user.email %></h3>
      <h5>About me: <%= @user.description %></h5>
      <h4><%= @user.fname %> has 
      <% if @users_posts.length == 1 %>
        <%= @users_posts.length %> post.
      <% else %>
        <%= @users_posts.length %> posts.</h4>
      <% end %>
    <% else %>
      <h1>Name: <%= @user.fname %> <%= @user.lname.chars.first %>.</h1>
      <h5>About me: <%= @user.description %></h5>
    <% end %>
<br><br>
    <% if session[:user_id] == @user.id %>
      <div class="edit-user">
        <%= link_to 'Edit Profile', edit_user_path(@user), :class => 'button' %>
      </div>
    <% end %>
</div>




<div class="feed">
<% @users_posts.reverse.first(10).each do |post| %>
  <div class="whole-post">

    <div class="title">
      <%= post.title %>
    </div>

      <%= image_tag post.image.url(:medium) if post.image.exists? %>
      <p><%= link_to post.user.fname, user_path(post.user_id) %> says -  </p>

    <div class="body">

      <%= post.body %>
    </div>
    <% if logged_in? %>
      <span class='comment-button link'><button class="button">Add a comment.</button></span>
      <span class='comment-view link'>
        <% if post.comments.length >= 1 %>
          <button class="button">View comments.(<%= post.comments.length %>)</button>
        <% end %>
      </span>
    <% end %>

    <% if session[:user_id] == post.user_id %>
      <span class='button link'><%= link_to 'Edit Post', edit_post_path(post) %></span>
      <span class='button link'><%= link_to 'Delete Post', post, :method => :delete %></span>
    <% end %>

    <% post.comments.reverse.first(3).each do |comment|%>
      <div class="comment">
        <div class="column-one">
          <%= comment.user.fname %><br>
          <span class='date'><%= comment.created_at.strftime("%l:%M on ")%></span>
          <span class='date'><%= comment.created_at.strftime("%D")%></span>
        </div>
        <div class="column-two">
          <%= comment.message %>

          <% if logged_in? && @current_user.id == post.user.id %>
           <span class='delete-button link'><----- <%= link_to 'Delete', post_comment_path(post.id, comment.id), method: :delete, :class => 'button-two' %></span>
          <% end %>


        </div>
        <% if session[:user_id] == comment.user_id %>
          <span class='delete-button link'><%= link_to 'Delete', post_comment_path(post.id, comment.id), method: :delete, :class => 'button-two' %></span>
          <span class='edit-button link'><%= link_to 'Edit', post_comment_path(post.id, comment.id), method: :update, :class => 'button-two' %></span>
        <% end %>
      </div>
    <% end %>

    <% if logged_in? %>
      <div class="comment-field">
        <%= form_for [post, post.comments.build] do |i| %>
          <%= i.hidden_field :user_id, :value => current_user.id %>
          <%= i.hidden_field :post_id, :value => post.id %>
          <%= i.label :message %>
          <%= i.text_area :message %>
          <%= i.submit :create %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
</div>