


<%= form_for @post_new do |i| %>
  <%= i.label :title %>
  <%= i.text_field :title %>
  <%= i.label :body %>
  <%= i.text_area :body %>
  <%= i.hidden_field :user_id, :value => current_user.id %>
  <%= i.submit :create %>



<% end %>

<br>
<% @posts.each do |post| %>
  <div class="whole-post">
    <div class="title">
      <%= post.title %>
    </div>
      <%= post.id %>   
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Delete Post', post, :method => :delete %>
    <div class="body">
      <%= post.body %>
    </div>
      <% post.comments.each do |comment|%>
        <div class="comment">
          <%= comment.message %>
          <%= link_to 'Delete Comment', comment, :method => :delete %><br>
        </div>
      <% end %>
    ~ <%= post.user.fname %>
  </div>
<% end %>


<%= form_for @comment_new do |i| %>
  <%= i.hidden_field :user_id, :value => 1 %>
  <%= i.hidden_field :post_id, :value => 5 %>
  <%= i.label :message %>
  <%= i.text_area :message %>
  <%= i.submit :create %>

<% end %>



