
  <% if logged_in? %>

  <%= form_for @post_new do |i| %>
    <%= i.label :title %>
    <%= i.text_field :title %>
    <%= i.label :body %>
    <%= i.text_area :body %>
    <%= i.hidden_field :user_id, :value => current_user.id %>
    <%= i.submit :create %>
  <% end %>

<% end %>

<br>
<% @posts.reverse.first(10).each do |post| %>
  <div class="whole-post">
    <div class="title">
      <%= post.title %>
    </div>

      <%= post.id %>  
      <span class='comment-button'><%= link_to 'Add a Comment', new_post_comment_path(post) %></span>

      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Delete Post', post, :method => :delete %>
    <div class="body">
      <%= post.body %>
    </div>
      <% post.comments.reverse.first(3).each do |comment|%>
        <div class="comment">
          <%= comment.message %>
          <%= link_to 'Delete', post_comment_path(post.id, comment.id), method: :delete %><br>
        </div>
      <% end %>
     <%= link_to post.user.fname, user_path(post.user_id) %>

    <% if logged_in? %>
      <div class="comment-field">
        <%= form_for [post, post.comments.build] do |i| %>
          <%= i.hidden_field :user_id, :value => current_user.id %>
          <%= i.hidden_field :post_id, :value => post.id %>
          <%= i.label :message %>
          <%= i.text_area :message %>
          <%= i.submit :create %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<p>Check out all of our super cool users</p>
<ol>
<% @users.each do |user| %>
  <li><%= link_to user.fname, user_path(user.id) %></li>
  <% end %>
</ol>




