<!DOCTYPE html>
<html>
	<head>
		<title>Railsmicroblog</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Short+Stack|Raleway:300' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="header">

		<a href="/", class="home-button">predilections.</a>

			<div class="navbar">
				<% if logged_in? %>
		 			<%= link_to "Home", '/', :class => 'navbar-one' %>
		 			<%= link_to "Profile", current_user, :class => 'navbar-one'  %>
		 			<%= link_to "Log out", logout_path, method: :delete, :class => 'navbar-one'  %>
				<% else %>  
				  <%= link_to "Home", '/', :class => 'navbar-one'  %>
			    <%= link_to "Log In", login_path, :class => 'navbar-one'  %>
			    <%= link_to "Sign Up", new_user_path, :class => 'navbar-one'  %>
				<% end %>
			</div>
		</div>

		<div class="container">
			<div class="flash-message"><%= flash[:notice]%></div>
			<%= flash[:alert]%>

			<%= yield %>

		</div>

	</body>
</html>